<div class="container w-50 alert alert-danger my-5 text-center" role="alert">
  <h4>Você deve estar logado {{status}} para acessar essa página!</h4>
  <div>
    <a href="/login" class="alert-link"> Acesse aqui para fazer login</a>
  </div>
</div>