
{{>navAdmin}}
<div class=" container center mt-5">
    <form>
        <h3 class="text-primary mt-3"><b>Cadastrar Médico</b></h3>
        <div class="form-row form-control">
            <div class="col mt-3">
                <input type="text" class="form-control border-primary" name="nomeMedico" id="nomeMedico" placeholder="Nome completo do médico" />
            </div>
            <div class="col mt-3">
                <input type="text" class="form-control border-primary" name="endereco" id="endereco" placeholder="Endereço do médico" />
            </div>
            <div class="col mt-3">
                <input type="text" class="form-control border-primary" name="nomeMedico" id="nomeMedico" placeholder="Especialidade do médico" />
            </div>
            <div class="col mt-3">
                <input type="text" class="form-control border-primary" name="nomeMedico" id="nomeMedico" placeholder="CRM 00000000-0/BR" />
            </div>

        </div>

        <button type="submit" class="btn btn-primary mt-3">Enviar</button>
        <button type="reset" class="btn btn-outline-primary mt-3">Limpar</button>
    </form>

    </div>