{{>navUsuario}}

<section class="container text-center my-5">
  <div class="input-group m-auto d-flex my-4 w-50 ">
    <input type="search" class="form-control border-success border-end-0" id=""
      placeholder="Pesquise o nome de um médico ou especialidade" aria-label="Search">
    <span class="input-group-text border-success border-start-0 bg-success"><i
        class="bi bi-search text-light"></i></span>
  </div>
  <table border=1 class="table table-bordered border-success">
    <thead>
      <th>Nome</th>
      <th>Especialidade</th>
      <th>CRM</th>
    </thead>
    {{!-- aqui começamos a criar o body da tabela --}}
    <tbody id="tbody">

      {{!-- //o #each é semelhando foreach que tínhamos no javascrit, ou seja, percorre um array elemento por elemento
      --}}
      {{#each resultado}}
      <tr>
        {{!-- estamos criando cada coluna com os atributos de cada elemento do array (um a um) --}}
        <td>{{nomeMedico}}</td>
        <td>{{especialidade.especialidade}}</td>
        <td>{{crm}}</td>
      </tr>
      {{!-- aqui fechamos o each --}}
      {{/each}}
    </tbody>
  </table>
</section>