{{>nav}}

<section class="container-fluid w-75 text-center my-5">
  <h1 class="text-success mt-3 h3"><b>Pesquisar Médicos e Especialidades</b></h1>
  
  <div class="input-group m-auto d-flex my-5 w-50 ">
    <input type="search" class="form-control border-success border-end-0" id="pesquisa"
      placeholder="Pesquise um médico ou especialidade" aria-label="Search" onkeyup="pesquisarMedico()">
    <span class="input-group-text border-success border-start-0 bg-light"><i
        class="bi bi-search text-success"></i></span>
  </div>
  <table id="tabela" class="table table-bordered border-success">
    <thead>
      <th>Nome</th>
      <th>Especialidade</th>
      <th>CRM</th>
    </thead>
    {{!-- aqui começamos a criar o body da tabela --}}
    <tbody id="tbody">

      {{!-- //o #each é semelhando foreach que tínhamos no javascrit, ou seja, percorre um array elemento por elemento
      --}}
      {{#each resultado}}
      <tr>
        {{!-- estamos criando cada coluna com os atributos de cada elemento do array (um a um) --}}
        <td>{{nomeMedico}}</td>
        <td>{{especialidade.especialidade}}</td>
        <td>{{crm}}</td>
      </tr>
      {{!-- aqui fechamos o each --}}
      {{/each}}
    </tbody>
  </table>
</section>