
{{>navUsuario}}
<section class=" container text-center w-25 my-5">
    <form action="/addLogin" method="post">
        <h3 class="text-primary mt-3"><b>Login</b></h3>
        <div class="row">
            <div class="col">
                <div class="input-group mt-3">
                    <span class="input-group-text border-primary border-end-0 bg-light"><i class="bi bi-person-circle"></i></span>
                    <input type="text" class="form-control border-primary border-start-0" name="loginUsuario" id="loginUsuario" placeholder="Digite um nome de login" required />
                </div>
                <div class="input-group mt-3">
                    <span class="input-group-text border-primary border-end-0 bg-light"><i class="bi bi-key-fill"></i></span>
                    <input type="password" class="form-control border-primary border-start-0" name="senha" id="senha" placeholder="Digite sua senha" required />
                </div>
            </div>
        </div>
    </form>
</section>